:root {
    --body-display: flex;
    --body-flex-direction: column;
    --body-height: 100vh;
    --body-margin: 0;
    --body-font-family: Arial, sans-serif;
    --body-background-color: #1e1e2e;
    --body-color: #cdd6f4;

    --titlebar-bg-color: #313244;
    --titlebar-padding: 10px;
    --titlebar-color: #cdd6f4;
    --titlebar-border-bottom: 1px solid #45475a;
    --titlebar-actions-margin-right: 130px;
    --titlebar-display: flex;
    --titlebar-align-items: center;
    --titlebar-justify-content: space-between;

    --search-bar-padding: 5px;
    --search-bar-margin-right: 10px;
    --search-bar-border-radius: 5px;
    --search-bar-border: 1px solid #6c7086;
    --search-bar-bg-color: #45475a;
    --search-bar-color: white;

    --main-content-display: flex;
    --main-content-flex: 1;

    --sidebar-width: 30%;
    --sidebar-bg-color: #1e1e2e;
    --sidebar-border-right: 1px solid #45475a;
    --sidebar-padding: 10px;
    --sidebar-radius: 10px;
    --sidebar-box-sizing: border-box;
    --sidebar-overflow-y: auto;

    --note-list-padding: 0;
    --note-list-margin: 5px;
    --note-list-item-padding: 10px;
    --note-list-item-border-bottom: 1px solid #45475a;
    --note-list-item-cursor: pointer;
    --note-list-item-position: relative;
    --note-list-item-hover-bg-color: #45475a;
    --note-list-item-selected-bg-color: #313244;
    --note-list-item-background-color: #585b70;

    --note-actions-display: none;
    --note-actions-position: absolute;
    --note-actions-right: 10px;
    --note-actions-top: 10px;
    --note-actions-button-margin-right: 5px;

    --button-bg-color: #45475a;
    --button-bg-color-hover: #6c7086;
    --button-color: white;
    --button-border-color: #6c7086;
    --button-border-radius: 5px;
    --button-padding: 5px;
    --button-padding-2: 4.2px;

    --editor-bg-color: #11111b;
    --editor-font-family: var(--body-font-family);
    --editor-text-color: #cdd6f4;
    --editor-border: none;
    --editor-resize: none;
    --editor-outline: none;
    --editor-font-size: 16px;
    --editor-overflow-y: auto;

    --scrollbar-bg-color: #2e3440;
    --scrollbar-thumb-bg-color: #4c566a;
    --scrollbar-thumb-hover-bg-color: #5e81ac;

    --edit-title-input-bg-color: #45475a;
    --edit-title-input-color: white;
    --edit-title-input-border: 1px solid #6c7086;
    --edit-title-input-border-radius: 5px;
    --edit-title-input-padding: 5px;
    --edit-title-input-width: 80%;
    --edit-title-input-fontsize: 14px;
}

body {
    display: var(--body-display);
    flex-direction: var(--body-flex-direction);
    height: var(--body-height);
    margin: var(--body-margin);
    font-family: var(--body-font-family);
    background-color: var(--body-background-color);
    color: var(--body-color);
}

.titlebar {
    background-color: var(--titlebar-bg-color);
    border-bottom: var(--sidebar-border-right);
    padding: var(--titlebar-padding);
    color: var(--titlebar-color);
    display: var(--titlebar-display);
    justify-content: var(--titlebar-justify-content);
    align-items: var(--titlebar-align-items);
}

.titlebar-actions {
    margin-right: var(--titlebar-actions-margin-right);
    display: var(--titlebar-display);
    align-items: var(--titlebar-align-items);
}

.titlebar-h1{
    margin: 0;
}

.search-bar {
    padding: var(--search-bar-padding);
    margin-right: var(--search-bar-margin-right);
    border-radius: var(--search-bar-border-radius);
    border: var(--search-bar-border);
    background-color: var(--search-bar-bg-color);
    color: var(--search-bar-color);
}

.main-content {
    display: var(--main-content-display);
    flex: var(--main-content-flex);
}

.sidebar {
    width: var(--sidebar-width);
    background-color: var(--sidebar-bg-color);
    border-right: var(--sidebar-border-right);
    padding: var(--sidebar-padding);
    box-sizing: var(--sidebar-box-sizing);
    overflow-y: var(--sidebar-overflow-y);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header-h2 {
    margin: 0;
}

.note-list {
    list-style-type: none;
    padding: var(--note-list-padding);
}

.note-list li {
    border-radius: var(--sidebar-radius);
    padding: var(--note-list-item-padding);
    background-color: var(--note-list-item-background-color);
    cursor: var(--note-list-item-cursor);
    position: var(--note-list-item-position);
    margin-bottom: var(--note-list-margin);
}

.note-list li:hover {
    background-color: var(--note-list-item-hover-bg-color);
}

.note-list li.selected {
    background-color: var(--note-list-item-selected-bg-color);
}

.note-actions {
    display: var(--note-actions-display);
    position: var(--note-actions-position);
    right: var(--note-actions-right);
    top: var(--note-actions-top);
}

.note-list li:hover .note-actions, .note-list li.selected .note-actions {
    display: block;
}

.note-list li.pinned {
    background-color: #ffeb3b; /* Highlight pinned notes */
}

.sidebar-header .button {
    margin-right: var(--note-actions-button-margin-right);
    background-color: var(--button-bg-color);
    color: var(--button-color);
    font-size: 14px;
    border-radius: var(--button-border-radius);
    border: 1px solid var(--button-border-color);
}

.titlebar-actions .button{
    padding: var(--button-padding-2);
    margin-right: var(--note-actions-button-margin-right);
    background-color: var(--button-bg-color);
    color: var(--button-color);
    font-size: 14px;
    border-radius: var(--button-border-radius);
    border: 1px solid var(--button-border-color);
}

.button:hover {
    background-color: var(--button-bg-color-hover);
}

.note-actions .note-button {
    margin-right: var(--note-actions-button-margin-right);
    background-color: var(--button-bg-color);
    color: var(--button-color);
    border-radius: var(--button-border-radius);
    border: 1px solid var(--button-border-color);
}

.note-button:hover {
    background-color: var(--button-bg-color-hover);
}

.editor {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--editor-bg-color);
    color: var(--editor-text-color);
    overflow-y: var(--editor-overflow-y);
}

.editor textarea {
    font-family: var(--editor-font-family);
    background-color: transparent;
    color: var(--editor-text-color);
    width: 100%;
    height: 100%;
    border: var(--editor-border);
    resize: var(--editor-resize);
    outline: var(--editor-outline);
    font-size: var(--editor-font-size);
}


.edit-title-input {
    width: var(--edit-title-input-width);
    padding: var(--edit-title-input-padding);
    font-size: var(--edit-title-input-fontsize);
    color: var(--edit-title-input-color);
    border: var(--edit-title-input-border);
    border-radius: var(--edit-title-input-border-radius);
    background-color: var(--edit-title-input-bg-color);
}

.edit-title-input:focus, .search-bar:focus {
    outline: none;
}

/* Custom scrollbar styles */
.sidebar::-webkit-scrollbar, 
.editor textarea::-webkit-scrollbar {
    width: 12px;
}

.sidebar::-webkit-scrollbar-track, 
.editor textarea::-webkit-scrollbar-track {
    background: var(--scrollbar-bg-color);
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb, 
.editor textarea::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg-color);
    border-radius: 10px;
    border: 3px solid var(--scrollbar-bg-color);
}

.sidebar::-webkit-scrollbar-thumb:hover, 
.editor textarea::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-bg-color);
}