:root {
    /* Variables */
    --body-display: flex;
    --body-flex-direction: column;
    --body-height: 100vh;
    --body-margin: 0;
    --body-font-family: Arial, sans-serif;
    --body-background-color: var(--color-bg-dark-alpha);
    --body-color: var(--color-text);

    --hover-transition: 0.2s ease;

    --titlebar-bg-color: var(--color-bg-medium-alpha);
    --titlebar-padding: 10px;
    --titlebar-color: var(--color-text);
    --titlebar-border-bottom: 1px solid var(--color-border);
    --titlebar-actions-margin-right: 130px;
    --titlebar-display: flex;
    --titlebar-align-items: center;
    --titlebar-justify-content: space-between;

    --search-bar-padding: 5px;
    --search-bar-margin-right: 5px;
    --search-bar-margin-bottom: 10px;
    --search-bar-border-radius: 8px;
    --search-bar-border: 1px solid var(--color-border);
    --search-bar-bg-color: var(--color-bg-medium-alpha);
    --search-bar-color: var(--color-text);
    --search-bar-placeholder-color: var(--color-placeholder);

    --dropdown-padding: 2px;
    --dropdown-margin-right: 2px;
    --dropdown-border-radius: 5px;
    --dropdown-border: 1px solid var(--color-border);
    --dropdown-bg-color: var(--color-bg-medium-alpha);
    --dropdown-color: var(--color-text);
    --dropdown-font-size: 14px;

    --main-content-display: flex;
    --main-content-flex: 1;
    --main-content-height: calc(100vh - var(--titlebar-padding) * 2 - var(--titlebar-border-bottom));

    --sidebar-width: 35%;
    --sidebar-max-width: 400px;
    --sidebar-bg-color: var(--color-bg-darker-alpha);
    --sidebar-border-right: 1px solid var(--color-border);
    --sidebar-spacing: 10px;
    --sidebar-radius: 10px;
    --sidebar-box-sizing: border-box;
    --sidebar-overflow-y: auto;
    --sidebar-height: 100%;
    --sidebar-button-padding: 3px 6px 3px 6px;

    --note-list-padding: 0;
    --note-list-margin: 5px;
    --note-list-item-margin-right: 3px;
    --note-list-item-padding: 10px;
    --note-list-item-border: 1px solid transparent;
    --note-list-item-border-selected: 1px solid var(--color-border);
    --note-list-item-cursor: pointer;
    --note-list-item-position: relative;
    --note-list-item-hover-bg-color: var(--color-hover);
    --note-list-item-selected-bg-color: var(--color-bg-medium-alpha);
    --note-list-item-background-color: var(--color-bg-dark-alpha);

    --note-title-font-size: 1em;
    --note-title-display: block;
    --note-date-font-size: 0.8em;
    --note-date-display: block;
    --note-date-color: var(--color-placeholder);
    --note-date-margin-top: 5px;

    --note-actions-display: none;
    --note-actions-position: absolute;
    --note-actions-right: 10px;
    --note-actions-top: 10px;
    --note-actions-button-margin-right: 5px;

    --button-bg-color: var(--color-bg-medium);
    --button-bg-color-hover: var(--color-hover-light);
    --button-color: var(--color-text);
    --button-border-color: var(--color-border);
    --button-border-radius: 5px;
    --button-padding: 5px;
    --button-padding-2: 4.2px;

    --editor-bg-color: var(--color-bg-darker-alpha);
    --editor-font-family: var(--body-font-family);
    --editor-text-color: var(--color-text);
    --editor-border: none;
    --editor-resize: none;
    --editor-outline: none;
    --editor-font-size: 16px;
    --editor-overflow-y: auto;
    --editor-spacing: 10px;

    --scrollbar-bg-color: var(--color-scrollbar-bg);
    --scrollbar-thumb-bg-color: var(--color-scrollbar-thumb);
    --scrollbar-thumb-hover-bg-color: var(--color-scrollbar-thumb-hover);

    --edit-title-input-bg-color: var(--color-bg-light-alpha);
    --edit-title-input-color: var(--color-text);
    --edit-title-input-border: 1px solid var(--color-border);
    --edit-title-input-border-radius: 5px;
    --edit-title-input-padding: 5px;
    --edit-title-input-width: 80%;
    --edit-title-input-fontsize: 14px;

    --modal-bg-color: rgba(0, 0, 0, 0.4);
    
    --modal-content-border-radius: 10px;
    --modal-content-bg-color: var(--color-bg-dark);
    --modal-content-margin: 10% auto;
    --modal-content-padding: 20px;
    --modal-content-border: 1px solid var(--color-border);
    --modal-content-width: 80%;
    --modal-content-max-width: 600px;

    --modal-close-color: var(--color-text);
    --modal-close-font-size: 28px;
    --modal-close-font-weight: bold;
    --modal-close-hover-color: var(--color-close-hover);

    --modal-export-item-bg-color: var(--color-bg-medium-alpha);
    --modal-export-item-color: var(--color-text);
    --modal-export-item-padding: 10px;
    --modal-export-item-border-bottom: 1px solid var(--color-border);
    --modal-export-item-hover-bg-color: var(--color-hover);
    --modal-export-item-cursor: pointer;
    --modal-export-item-border-radius: 8px;
    --modal-export-item-margin-bottom: 5px;
    --modal-export-item-margin-right: 3px;
    --modal-export-item-border: 1px solid var(--color-border);

    --updater-background-color: var(--color-bg-dark);
    --updater-text-color: var(--color-text);
    --updater-text-download-color: var(--color-button-download-text);
    --updater-button-background-color: var(--color-bg-medium-alpha);
    --updater-button-hover-background-color: var(--color-hover-light);
    --updater-button-download-background-color: var(--color-button-download);
    --updater-button-download-hover-background-color: var(--color-button-download-hover);
    --updater-padding: 15px;
    --updater-border-radius: 8px;
    --updater-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    --updater-z-index: 1000;
    --updater-margin-top: 10px;
    --updater-padding-small: 5px 10px;
    --updater-border: 1px solid var(--color-border);
}

body {
    display: var(--body-display);
    flex-direction: var(--body-flex-direction);
    height: var(--body-height);
    margin: var(--body-margin);
    font-family: var(--body-font-family);
    background-color: var(--body-background-color);
    color: var(--body-color);
    overflow: hidden;
}

.titlebar {
    /*background-color: var(--titlebar-bg-color);*/
    /*border-bottom: var(--sidebar-border-right);*/
    padding: var(--titlebar-padding);
    color: var(--titlebar-color);
    display: var(--titlebar-display);
    justify-content: var(--titlebar-justify-content);
    align-items: var(--titlebar-align-items);
}

.titlebar-actions {
    margin-right: var(--titlebar-actions-margin-right);
    display: var(--titlebar-display);
    align-items: var(--titlebar-align-items);
}

.titlebar-h1{
    margin: 0;
}

.search-bar {
    padding: var(--search-bar-padding);
    border-radius: var(--search-bar-border-radius);
    border: var(--search-bar-border);
    background-color: var(--search-bar-bg-color);
    color: var(--search-bar-color);
    margin-bottom: var(--search-bar-margin-bottom);
    width: calc(100% - 0.3 * var(--sidebar-spacing));
    box-sizing: border-box;
    margin-bottom: var(--search-bar-margin-bottom);
}


.search-bar::placeholder {
    color: var(--search-bar-placeholder-color);
}

.main-content {
    display: var(--main-content-display);
    flex: var(--main-content-flex);
    height: var(--main-content-height);
    overflow: hidden;
}

.sidebar {
    width: var(--sidebar-width);
    max-width: var(--sidebar-max-width);
    overflow-y:hidden;
    margin: 0 var(--editor-spacing) var(--editor-spacing) var(--editor-spacing);
    border-radius: var(--sidebar-radius);
    background-color: var(--sidebar-bg-color);
    padding: var(--sidebar-spacing);
    box-sizing: var(--sidebar-box-sizing);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.dropdown {
    padding: var(--dropdown-padding);
    margin-right: var(--dropdown-margin-right);
    border-radius: var(--dropdown-border-radius);
    border: var(--dropdown-border);
    background-color: var(--dropdown-bg-color);
    color: var(--dropdown-color);
    font-family: var(--body-font-family);
    font-size: var(--dropdown-font-size);
    outline: none;
    transition: var(--hover-transition);
}

.dropdown:hover {
    background-color: var(--button-bg-color-hover);
}

.dropdown option {
    background-color: var(--dropdown-bg-color);
    color: var(--dropdown-color);
}

.header-h2 {
    margin: 0;
}

.note-list {
    list-style-type: none;
    padding: var(--note-list-padding);
    margin: 0;
    height: calc(100% - 70px);
    overflow-y: auto;
}

.note-list li {
    border-radius: var(--sidebar-radius);
    padding: var(--note-list-item-padding);
    background-color: var(--note-list-item-background-color);
    cursor: var(--note-list-item-cursor);
    position: var(--note-list-item-position);
    margin-bottom: var(--note-list-margin);
    transition: var(--hover-transition);
    border: var(--note-list-item-border);
    margin-right: var(--note-list-item-margin-right);
}

.note-list li:hover {
    background-color: var(--note-list-item-hover-bg-color);
}

.note-list li.selected {
    background-color: var(--note-list-item-selected-bg-color);
    border: var(--note-list-item-border-selected);
}

.note-actions {
    display: var(--note-actions-display);
    position: var(--note-actions-position);
    right: var(--note-actions-right);
    top: var(--note-actions-top);
    transition: var(--hover-transition);
}

.note-list li:hover .note-actions, .note-list li.selected .note-actions {
    display: block;
}

.note-title {
    display: var(--note-title-display); 
    font-size: var(--note-title-font-size);
}

.note-date, .note-modified {
    display: var(--note-date-display); 
    font-size: var(--note-date-font-size);
    color: var(--note-date-color);
    margin-top: var(--note-date-margin-top);
}

.sidebar-header .button {
    margin-right: var(--note-actions-button-margin-right);
    background-color: var(--button-bg-color);
    color: var(--button-color);
    font-size: 14px;
    border-radius: var(--button-border-radius);
    border: 1px solid var(--button-border-color);
    transition: var(--hover-transition);
    padding: var(--sidebar-button-padding);
}

.titlebar-actions .button{
    padding: var(--button-padding-2);
    margin-right: var(--note-actions-button-margin-right);
    background-color: var(--button-bg-color);
    color: var(--button-color);
    font-size: 14px;
    border-radius: var(--button-border-radius);
    border: 1px solid var(--button-border-color);
    transition: var(--hover-transition);
}

.button:hover {
    background-color: var(--button-bg-color-hover);
}

.editor {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--editor-bg-color);
    color: var(--editor-text-color);
    overflow: hidden;
    margin: 0 var(--editor-spacing) var(--editor-spacing) 0;
    border-radius: var(--sidebar-radius);
}

.editor textarea {
    font-family: var(--editor-font-family);
    background-color: transparent;
    color: var(--editor-text-color);
    width: 100%;
    height: 95%;
    border: var(--editor-border);
    resize: var(--editor-resize);
    outline: var(--editor-outline);
    font-size: var(--editor-font-size);
    overflow-y: var(--editor-overflow-y);
}

.editor .status{
    margin: 0;
    padding: 5px;
    background-color: var(--color-bg-dark-alpha);
    color: var(--color-text);
    font-size: 14px;
    width: fit-content;
    text-align: left;
    border-radius: 5px;
}

.edit-title-input {
    width: var(--edit-title-input-width);
    padding: var(--edit-title-input-padding);
    font-size: var(--edit-title-input-fontsize);
    color: var(--edit-title-input-color);
    border: var(--edit-title-input-border);
    border-radius: var(--edit-title-input-border-radius);
    background-color: var(--edit-title-input-bg-color);
}

.edit-title-input:focus, .search-bar:focus {
    outline: none;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-bg-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg-color);
    border-radius: 10px;
    border: 3px solid var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-bg-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--modal-bg-color);
}

.modal-content {
    background-color: var(--modal-content-bg-color);
    border-radius: var(--modal-content-border-radius);
    margin: var(--modal-content-margin);
    padding: var(--modal-content-padding);
    border: var(--modal-content-border);
    width: var(--modal-content-width);
    max-width: var(--modal-content-max-width);
    max-height: 80vh;
    overflow: hidden;
}

.modal .button {
    background-color: var(--button-bg-color);
    color: var(--button-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    cursor: pointer;
    transition: var(--hover-transition);
    margin-right: 150px;
    margin-bottom: 10px;
}

.settings-button, .about-button{
    background-color: var(--button-bg-color);
    color: var(--button-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    cursor: pointer;
    transition: var(--hover-transition);
    margin-bottom: 10px;
}

.modal-content label,
.modal-content select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.settings-section,
.about-section {
    width: 45%; /* Set fixed width for sections */
}

.button:hover, .settings-button:hover, .about-button:hover {
    background-color: var(--button-bg-color-hover);
}

.modal-h2{
    margin: 0px 0px 10px 0px;
}

.close {
    color: var(--modal-close-color);
    float: right;
    font-size: var(--modal-close-font-size);
    font-weight: var(--modal-close-font-weight);
    transition: var(--hover-transition);
}

.close:hover,
.close:focus {
    color: var(--modal-close-hover-color);
    text-decoration: none;
    cursor: pointer;
}

.export-note-list {
    max-height: 60vh;
    overflow-y: auto; 
    padding: 0;
    margin: 0;
    list-style: none;
}

.export-note-item{
    margin-right: var(--modal-export-item-margin-right);
    padding: var(--modal-export-item-padding);
    background-color: var(--modal-export-item-bg-color);
    color: var(--modal-export-item-color);
    border-radius: var(--modal-export-item-border-radius);
    transition: var(--hover-transition);
    margin-bottom: var(--modal-export-item-margin-bottom);
    border: var(--modal-export-item-border);
}

.export-note-item:hover{
    background-color: var(--modal-export-item-hover-bg-color);
    cursor: var(--modal-export-item-cursor);
}

.hidden {
    display: none;
}

#notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--updater-background-color);
    color: var(--updater-text-color);
    padding: var(--updater-padding);
    border: var(--updater-border);
    border-radius: var(--updater-border-radius);
    box-shadow: var(--updater-box-shadow);
    z-index: var(--updater-z-index);
}

#notification #message {
    margin: 0;
}

#notification-buttons {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
    margin-top: var(--updater-margin-top);
}

#download-link {
    font-size: 14px;
    color: var(--updater-text-download-color);
    text-decoration: none;
    background-color: var(--updater-button-download-background-color);
    padding: var(--updater-padding-small);
    border: var(--updater-border);
    border-radius: var(--updater-border-radius);
    transition: var(--hover-transition);
}

#download-link:hover {
    background-color: var(--updater-button-download-hover-background-color);
}

#dismiss-button {
    padding: var(--updater-padding-small);
    background-color: var(--updater-button-background-color);
    color: var(--updater-text-color);
    border: var(--updater-border);
    border-radius: var(--updater-border-radius);
    cursor: pointer;
    transition: var(--hover-transition);
}

#dismiss-button:hover {
    background-color: var(--updater-button-hover-background-color);
}

.context-menu {
    display: none;
    position: absolute;
    background-color: var(--color-bg-medium);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu li {
    padding: 8px;
    cursor: pointer;
    color: var(--color-text);
}

.context-menu li:hover {
    background-color: var(--color-hover);
}

.context-menu-divider{
    border: 0;
    margin: 0;
    height: 1px;
    background-color: var(--color-border);
}

#contextMenuNoteId{
    padding: 0;
    margin: 5px;
    font-size: var(--note-date-font-size);
    color: var(--note-date-color);
    margin-top: var(--note-date-margin-top);
}

.divider {
    width: 1px;
    background-color: var(--color-border);
    margin: 0 20px;
}